<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960532863920-vgs6409jheseuqk9cbjss1hdt48b4aor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960532863920-vgs6409jheseuqk9cbjss1hdt48b4aor</string>
	<key>API_KEY</key>
	<string>AIzaSyDdGM-VW8fP1PXtLHCWMLqHmaCabNapOxg</string>
	<key>GCM_SENDER_ID</key>
	<string>960532863920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.react.native.example.WeCare</string>
	<key>PROJECT_ID</key>
	<string>wecare-1c345</string>
	<key>STORAGE_BUCKET</key>
	<string>wecare-1c345.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960532863920:ios:80d6adb3cfd8def1a4d475</string>
	<key>DATABASE_URL</key>
	<string>https://wecare-1c345.firebaseio.com</string>
</dict>
</plist>